<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="/lynceer/src/main/resources/templates/css/login.css">
    
    <title>LynceerLogin</title>
</head>
<body>
    
    <header>
        <a href="home.html" class="tudo">
        <div class="logo">
            <img src="images/logo.webp">
        </div>
        <div class="title">
            <p>lynceer </p>
            <p class="copyright">©</p>
        </div>
        </a>
    </header>

    <main>
        <div class="formulario">
            <div class="forminput">
            <p> <input type="email" placeholder="Digite seu email" class="inputs" id="txtemail"></p>
            <p> <input type="password" placeholder="Digite sua senha" class="inputs" ></p>
            </div>

            <div class="btnform">
                <a href="#" class="btna" onclick="teste()">LOGIN</a>
            </div>

            <div class="msgextra">
                <p><a href="#" class="esqsenha">Esqueci a senha</a></p>
                <br>
                <p><a href="#" class="fazercadas">Faça seu cadastro</a></p>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>