<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo ico.ico" type="image/x-icon">
    <link rel="stylesheet" href="lynceer/src/main/resources/templates/css/cadastro.css">
    <link rel="stylesheet" type="text/css" href="css/cadastro.css">
    <title>LynceerLogin</title>
</head>
<body>
    
    <header>
        <a href="home.html" class="tudo">
        <div class="logo">
            <img src="images/logo.webp">
        </div>
        <div class="title">
            <p>lynceer </p>
            <p class="copyright">©</p>
        </div>
        </a>
    </header>

    <main>
        <div class="formulario">
            <div>
                <img src="images/iconePessoa.png" class="imgContratado">

            </div>
            <div class="forminput">
            <p> <input type="name" placeholder="Digite seu nome completo" class="inputs" id="txtemail"></p>
            <p> <input type="email" placeholder="Digite seu email" class="inputs" ></p>
            <p> <input type="password" placeholder="Crie sua senha" class="inputs"></p>
            <!-- Campo de selção dos páises-->
             
            <p> 
                <select  id="pais" class="inputs">
                    <option value="brasil"> Brasil <img src="images/bandeiras/Brasil.jpg" class="imgpais"></option>
                    <option value="canada"> Canada</option>
                    <option value="Franca"> Franca</option>
                    <option value="italia"> Italia</option>
                    <option value="mexico"> Mexico</option>

                </select>
            </p>

            </div>

            <div class="btnform">
                <a href="#" class="btna" onclick="teste()">CADASTRAR</a>
            </div>

            <div class="msgextra">
                <p><a href="#" class="fazerlogin">Ja tenho uma conta</a></p>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>
</html>